:root {
    --font1: "Poppins", sans-serif;
  
  }
  
  * {
    margin: 0px;
  }
  body {
    background-color: black;
  }
  
  header {
    position: sticky;
    top: 0px;
    padding: 20px;
    background-color: black;
  }
  main{
      max-width: 90vw;
      margin: 0px auto;
      height: auto;
  }
  
  .h {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 25px 15px;
  }
  .cv-download {
    background-color: rgb(36, 255, 179);
    border: 0px;
    padding: 8px 15px;
  }
  .cv-download:hover {
    /* background-color: rgb(67, 65, 65); */
    color: white;
  
    animation-name: btn-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
  }
  @keyframes btn-anim{
    0%{background-color:rgb(206, 206, 206) ;}
    50%{background-color:rgb(135, 135, 135) ;}
    25%{background-color:rgb(81, 81, 81) ;}
    100%{background-color:rgb(81, 81, 81) ;}
    75%{background-color:rgb(31, 31, 31) ;}
  }
  
  .name {
    font-size: 24px;
    font-weight: 800;
    font-family: var(--font1);
  }
  .main-content {
    display: flex;
  
  }
  @keyframes main-content-animation{
      0%{
         position: relative;
         left: -600px;
      }
      100%{
          position: relative;
         left: 0px;
  
      }
  }
  .main-content-left {
    /* background-color: powderblue; */
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: main-content-animation;
    animation-duration: 1.5s;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 500px;
    color: white;
    animation-name: right-content-animation;
    animation-duration: 1.5s;
    /* background-color: rgb(99, 255, 175); */
  }
  @keyframes right-content-animation{
      0%{
         position: relative;
         top: -600px;
      }
      100%{
          position: relative;
         top: 0px;
  
      }
  }
  .hello {
    font-size: 40px;
    margin: 10px 0px;
    font-weight: 700;
    font-family: var(--font1);
    display: block;
  }
  .intro-name {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font1);
    display: block;
    margin: 10px 0px;
  }
  .info{
    width:50%;
    text-align: center;
    margin:0px auto;
  }
  .main-info {
   
     text-align: center;
     margin: 10px 0px;
     line-height: 24px;
  }
  .photo{
      width: 50%;
      height: 200px;
      background-color: tomato;
  
  }
  .hr1{
      border: 3px solid rgb(36, 255, 179);
      width: 5vw;
      margin: 0px auto;
  }
  .hr2{
      border: 0.05px solid rgb(51, 51, 63);
      width: 70vw;
      margin: 50px auto;
  }
  .about-text{
      color: rgb(36, 255, 179);
      font-size: 30px;
      font-family: var(--font1);
      font-weight: 500;
     margin: 0px  50px;
  }
  .skills-txt{
    color: rgb(36, 255, 179);
    font-size: 30px;
    font-family: var(--font1);
    font-weight: 500;
   margin: 0px  50px;
  }
  .experience-txt{
    color: rgb(36, 255, 179);
    font-size: 30px;
    font-family: var(--font1);
    font-weight: 500;
   margin: 0px  50px;
  }
  .abt-txt{
   margin-top: 50px;
  }
  .about{
    max-width: 100vw;
  }
  .more-about{
      color: white;
      margin: 40px 80px 10px 50px ;
  }
  .about-info-text{
      color:rgb(181, 181, 181);
      
      padding: 50px;
      font-size: 12px;
      line-height: 24px;
  }
  .connect-div{
      color: white;
      display: flex;
      margin: 50px 50px;
  }
  .con-we-me{
      color: white;
  }
  .social-links{
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin: 0px 10px;
      border: 2px solid rgb(36, 255, 179);
      padding: 5px 10px;
      border-radius: 10px;
  }
  .social-links:hover{
    background-color:rgb(36, 255, 179);
    color: black;
    transition: 0.3s;
  }
  .skills-section{
    max-width: 100vw;
  }
  
  .skills{
    display: flex;
  }
  .skills-col1{
    flex-direction: column;
    color: aliceblue;
    width: 50%;
    margin:20px 50px;
  }
  .skills-col2{
    flex-direction: column;
    color: aliceblue;
    width: 50%;
    margin:20px 50px;
  }
  .row{
    margin: 20px 10px;;
  }
  .div-hr1{
    border: 3px solid rgb(36, 255, 179);
      width: 250px;
    margin: 20px 0px;
    border-radius: 20px;
  }
  .div-hr2{
    border: 3px solid rgb(36, 255, 179);
      width: 150px;
    margin: 20px 0px;
    border-radius: 20px;
  }
  .div-hr3{
    border: 3px solid rgb(36, 255, 179);
      width: 200px;
    margin: 20px 0px;
    border-radius: 20px;
  }
  .div-hr4{
    border: 3px solid rgb(36, 255, 179);
      width: 100px;
    margin: 20px 0px;
    border-radius: 20px;
  }
  .skills-point{
    font-size: 16px;
    font-weight: bold;
      padding: 7px;
  
    /* animation-name: skills-border-anim;
    animation-duration: 10s;
    border-radius: 30px;
    animation-iteration-count: infinite;
    border: 1px solid rgb(51, 51, 63);
  }
  @keyframes skills-border-anim{
    25%{border-left: 1px solid rgb(36, 255, 179);}
    50%{border-left: 1px solid rgb(36, 255, 179);
      border-bottom: 1px solid rgb(36, 255, 179);}
      75%{border-bottom: 1px solid rgb(36, 255, 179);
        border-left: 1px solid rgb(36, 255, 179);
      border-right: 1px solid rgb(36, 255, 179) ;}
      100%{border-bottom: 1px solid rgb(36, 255, 179);
        border-left: 1px solid rgb(36, 255, 179);
      border-right: 1px solid rgb(36, 255, 179) ;
      border-top: 1px solid rgb(36, 255, 179) ;}
  } */
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .experience{
    display: flex;
  }
  .experience-col1{
    flex-direction: column;
    color: aliceblue;
    width: 50%;
    margin:20px 50px;
  }
  .experience-col2{
    flex-direction: column;
    color: aliceblue;
    width: 50%;
    margin:20px 50px;
  }
  .experience-row{
    margin: 20px 10px;;
  }
  .div-hr1{
    border: 3px solid rgb(36, 255, 179);
      width: 80%;
    margin: 20px 0px;
  }
  .div-hr2{
    border: 3px solid rgb(36, 255, 179);
      width: 60%;
    margin: 20px 0px;
  }
  .div-hr3{
    border: 3px solid rgb(36, 255, 179);
      width: 70%;
    margin: 20px 0px;
  }
  .div-hr4{
    border: 3px solid rgb(36, 255, 179);
      width: 30%;
    margin: 20px 0px;
  }
  .experience-point{
    font-size: 16px;
    font-weight: bold;
      padding: 7px;
      border: 1px solid rgb(51, 51, 63);
  }
  .experience-point:hover{
    animation-name: experience-border-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes experience-border-anim{
    25%{border-left: 8px solid rgb(36, 255, 179);}
    50%{border-left: 1px solid rgb(36, 255, 179);
      border-bottom: 1px solid rgb(36, 255, 179);}
      75%{border-bottom: 1px solid rgb(36, 255, 179);
        border-left: 1px solid rgb(36, 255, 179);
      border-right: 1px solid rgb(36, 255, 179) ;}
      100%{border-bottom: 1px solid rgb(36, 255, 179);
        border-left: 1px solid rgb(36, 255, 179);
      border-right: 1px solid rgb(36, 255, 179) ;
      border-top: 1px solid rgb(36, 255, 179) ;}
  }
  
  .experience-point{
    margin-bottom: 30px;
  }
  
  .experience-details{
    margin-top: 30px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 400;
    width: 200px;
  }
  .experience-section{
    max-width: 100vw;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  